.right-panel {
  width: 100%;
  overflow-y: scroll;
  flex-shrink: 1;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  color: #444;
  .trash-can {
    button {
      color: white;
      background-color: #555;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      text-align: center;
    }
    h2 {
      border-top: 1px solid #eee;
      padding-top: 1.5rem;
    }
    th,
    td {
      border: 1px solid #ddd;
    }
    td,
    th {
      padding: 0.5rem;
    }
  }
}
